* {
  scroll-behavior: smooth;
}

/* Menu code starts here */

nav {
  position: relative;
}

#menuRegular {
  display: none;
}

#menuToggle {
  display: block;
  /* You can also use relative/absolute here if you want to stay on the top */
  top: 50px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
  * Just a quick hamburger
  */
#menuToggle span {
  display: block;
  background: #cc6140;
  border-radius: 3px;
  height: 2px;
  margin: 3px;
  width: 1.3rem;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
#menuToggle input:checked ~ #bottom {
  transform: rotate(-45deg) translate(0, 2px);
}

/*
  * But let's hide the middle one.
  */
#menuToggle input:checked ~ #middle {
  opacity: 0;
}

/*
  * Ohyeah and the last one should go the other direction
  */
#menuToggle input:checked ~ #top {
  transform: rotate(45deg) translate(1px, -1px);
}

#menuToggle ul {
  display: none;
}

#menuToggle input:checked ~ ul {
  display: block;
}

/*
  * Make this absolute positioned
  * at the top left of the screen
  */
#menu {
  position: absolute;
  right: 0;
  width: 20.75rem;
  margin: 1.5rem 0 0 1.9rem;
  padding: 1.5rem 0 1.5rem 1.725rem;
  box-sizing: border-box;
  overflow-y: auto;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  z-index: 1;
  border-top: black 1px solid;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 0 0 1.25rem 0;
  font-size: 0.7rem;
  color: #54392a;
}

#menu li:last-child {
    padding: 0;
  }

#menu li:first-child label::after {
    content: "\00a0\00a0\25BC";
    /* content: "\00a0\00a0\25B6"; */
}

#menu li:first-child ul {
    display:block;
    list-style-type: none;
    font-size: 0.625rem;
    margin: 0;
    padding: 0 0 0 0.875rem;
}

#menu li:first-child ul li{
    padding: 0.775rem 0 0 0;
}

#menu li:first-child ul li::before {
    content: "\25B6\00a0\00a0";
}

#menu li:first-child ul li:first-child {
    color: #b5966f;
}

#menu li:first-child ul li:last-child {
    color: #7baa88;
}

#menu li label {
  cursor: pointer;
}

/*
  * And let's slide it in from the left
  */
#menuToggle input:checked ~ ul {
  transform: none;
}

