body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f6f6f6;
    padding: 0 1.9em 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 6.25em;
    margin: 2em 0 1.5em 1.9em;
}

nav {
    position: relative;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;

}

.hamburger-menu span {
    background-color: #cc6140;
    height: 3px;
    margin: 2px;
    width: 1.3em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #333;
    width: 150px;
}

nav ul li {
    text-align: right;
    padding: 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

/* Mostrar o menu ao clicar no hambúrguer */
.hamburger-menu.active + ul {
    display: block;
}

#hero {
    position: relative;
    background-color: #f6f6f6;
}

#hero img {
    width: 100%;
    height: auto;
}

.hero-content {
    position: absolute;
    top: 2.95em;
    left: 1.9em;
    color: white;
    text-align: left;
    width: 44%;
}

.hero-content  span {
    background-color: #cc6140;
    height: 3px;
    margin: 0.625em 0;
    width: 1.5em;
    display: block;
}

.hero-content .hero-text1 {
    font-size: 0.52em;
    margin: 0;
}

.hero-content .hero-text2 {
    font-size: 0.95em;
    margin: 0;
}

#operation {
    background-color: #f6f6f6;
}

.operation-img {
    padding-top: 1.5em;
    margin: 0 1.9em;
}

#operation img {
    width: 100%;
    height: auto;
}

.operation-content {
    text-align: left;
    padding: 1.5em 2.25em;
}

.operation-text {
    font-size: 0.52em;
    margin: 0;
    color: #503a2c;
}

#work {
    padding: 2em 1.9em;
}

.brands-title {
    color: #b5966f;
    margin: 0;
    font-size: 0.875em;
}

.brands-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em 2.25em ;
}

.brands-content img {
    width: 100%;
    height: auto;
}

.projects-title {
    color: #b5966f;
    margin: 0;
    padding-top: 2em;
    font-size: 0.875em;
}

.projects-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em 2.25em ;
}

.projects-content img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    /* position: fixed; */
    width: 100%;
    bottom: 0;
}

/* Estilos para telas maiores */
@media (min-width: 768px) {
    .hamburger-menu {
        display: none;
    }

    nav ul {
        display: flex;
        position: static;
        flex-direction: row;
        background-color: transparent;
    }

    nav ul li {
        margin: 0 1em;
        padding: 0;
    }

    footer {
        position: static;
    }
}