@font-face {
  font-family: "GraphikSemibold";
  src: url("./fonts/Graphik-Bold-Trial.otf") format("opentype");
}

@font-face {
  font-family: "GraphikBold";
  src: url("./fonts/Graphik-Bold-Trial.otf") format("opentype");
}

@font-face {
  font-family: "KantoraSemibold";
  src: url("./fonts/kontora-semi-bold.otf") format("opentype");
}

body {
  font-family: "DM Sans", Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f6f6f6;
  padding: 0 1.9rem 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 6.25rem;
  margin: 2rem 0 1.5rem 1.9rem;
}

#hero {
  position: relative;
  background-color: #f6f6f6;
}

#hero img {
  width: 100%;
  height: auto;
}

.hero-content {
  position: absolute;
  top: 2rem;
  left: 1.9rem;
  color: white;
  text-align: left;
  width: 40%;
}

.hero-content span {
  background-color: #cc6140;
  height: 3px;
  margin: 0.625rem 0;
  width: 1.5rem;
  display: block;
}

.hero-content .hero-text1 {
  font-size: 0.52rem;
  margin: 0;
}

.hero-content .hero-text2 {
  font-family: "KantoraSemibold", Arial, sans-serif;
  font-size: 0.9rem;
  margin: 0;
}

#operation {
  background-color: #f6f6f6;
}

.operation-img {
  padding-top: 1.5rem;
  margin: 0 1.9rem;
}

#operation img {
  width: 100%;
  height: auto;
}

.operation-content {
  text-align: left;
  padding: 1.5rem 2.25rem;
}

.operation-text {
  font-size: 0.52rem;
  margin: 0;
  color: #503a2c;
}

#previous-work {
  padding: 2rem 1.9rem;
}

.brands-title {
  color: #b5966f;
  margin: 0;
  font-size: 0.875rem;
  font-family: "KantoraSemibold", Arial, sans-serif;
}

.brands-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 2.25rem;
}

.brands-content img {
  width: 100%;
  height: auto;
}

.previous-projects-title {
  color: #b5966f;
  margin: 0;
  padding-top: 2rem;
  font-size: 0.875rem;
  font-family: "KantoraSemibold", Arial, sans-serif;
}

.previous-projects-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 2.25rem;
}

.previous-projects-content img {
  width: 100%;
  height: auto;
}

#create {
  background-color: #f6f6f6;
  padding: 1.5rem 1.9rem 0.325rem;
}

.create-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.175rem;
  font-family: "KantoraSemibold", Arial, sans-serif;
}

.create-title p {
  color: #cc6140;
  margin: 0;
  font-size: 0.95rem;
  width: 61%;
}

.create-title button {
  border: 0.0025rem solid #cc6140;
  color: #503a2c;
  font-size: 0.6rem;
  height: auto;
  padding: 0 0.8rem;
}

.work-areas {
  background-color: #f6f6f6;
  padding-top: 0.325rem;
}

.work-areas .areas-img {
  background-color: white;
}

.work-areas img {
  margin: 0;
  padding: 0;
  background-color: white;
  width: 100%;
  height: auto;
}

.work-areas-content {
  padding: 1.075rem 1.425rem 0;
  background-color: white;
}

.work-areas-content p {
  font-size: 0.7rem;
  margin: 0;
  color: #503a2c;
}

.work-areas-content ul {
  list-style-type: disclosure-closed;
  list-style-position: inside;
  padding: 0.95rem 0;
  margin: 0;
  font-size: 0.5125rem;
}

.work-areas-content ul li {
  margin: 0.5rem 0;
}

.work-areas-content ul li::marker {
  color: #cc6140;
}

#work {
  background-color: white;
  padding: 1.5rem 1.9rem 2.75rem;
}

.work-title {
  font-size: 0.95rem;
  padding: 0.95rem 0 1.85rem 1.425rem;
  margin: 0;
  font-family: "KantoraSemibold", Arial, sans-serif;
}

.work-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 1.425rem 0.95rem;
}

.work-content button {
  font-size: 0.575rem;
  border: 0.0025rem solid;
  color: #ffffff;
  height: auto;
  padding: 0.4rem 0.8rem;
}

.work-content button::after {
  content: "\00a0\00a0\00a0\00a0\00a0\25B6";
  font-size: 0.4rem;
}

.consulting {
  background-color: #b5966f;
  color: #503a2c;
  margin-bottom: 0.325rem;
}

#work img {
  width: 15%;
  height: auto;
}

.consulting button {
  border-color: #503a2c;
  background-color: #b5966f;
}

.projects {
  background-color: #7ba987;
  color: #1e362f;
}

.projects button {
  border-color: #1e362f;
  background-color: #7ba987;
}

footer {
  background-color: #f6f6f6;
  padding: 2rem 1.9rem 3.5rem;
  color: #503a2c;
  text-align: center;
  bottom: 0;
}

footer .logo {
  width: 6.25rem;
  margin: 0;
}

footer .line {
  font-size: 0.6rem;
  text-align: left;
  margin: 1.5rem 0 2.5rem;
  text-transform: uppercase;
}

footer .contact {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

footer .contact .contact-title {
  font-size: 0.7rem;
  margin: 0;
  padding-bottom: 1.075rem;
  font-family: "DM Sans", Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
}

footer .contact .contact-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer .contact-logos {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .contact .contact-row .contact-info {
  font-size: 0.6125rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}

footer .contact .contact-row .contact-info p {
  margin: 0;
  padding-bottom: 0.725rem;
}
footer .contact .contact-row .contact-info img {
  width: 0.6125rem;
  margin: 0;
  justify-self: center;
}

footer .left {
  align-items: flex-start;
}

footer .right {
  align-items: flex-end;
}

footer .contact img {
  width: 1.5rem;
  height: auto;
  margin-right: 0.5rem;
}

footer .contact p {
  font-size: 0.55rem;
  margin: 0;
}